It is the day 4 of cdac patna

#importing all needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [ ]:
#creating raw datasets
data={
    'Size':[1200,1500,1000,2000],
    'Bedrooms':[3,4,np.nan,5],
    'Location':['urban','suburban','urban','rural'],
    'Price':[3000000,400000,250000,5000000]
}

#we will be storing the data to tables
df=pd.DataFrame(data)

#updatng the missing data before normalisation
df['Bedrooms'].fillna(df['Bedrooms'].mean(),inplace=True)

/tmp/ipython-input-2032439869.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedrooms'].fillna(df['Bedrooms'].mean(),inplace=True)

In [ ]:
print(df)

#now we will be encoding the categorical data
encoder=LabelEncoder()
df['Location']=encoder.fit_transform(df['Location']) #here fit-transform transforms the string value to no and also remembers it.
print(df)

#normalisation technique
scaler=MinMaxScaler()
df[['Size','Bedrooms']]=scaler.fit_transform(df[['Size','Bedrooms']])
print(df)

   Size  Bedrooms  Location    Price
0  1200       3.0     urban  3000000
1  1500       4.0  suburban   400000
2  1000       4.0     urban   250000
3  2000       5.0     rural  5000000
   Size  Bedrooms  Location    Price
0  1200       3.0         2  3000000
1  1500       4.0         1   400000
2  1000       4.0         2   250000
3  2000       5.0         0  5000000
   Size  Bedrooms  Location    Price
0   0.2       0.0         2  3000000
1   0.5       0.5         1   400000
2   0.0       0.5         2   250000
3   1.0       1.0         0  5000000